# Cleaning  a messy warehouse data using Python

In [5]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
df=pd.read_csv(r"C:\Users\admin\Downloads\warehouse_messy_data.csv") # loading the data from the csv file
df

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,ELECTRONICS,Warehouse 2,Aisle 1,300,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,ELECTRONICS,Warehouse 2,Aisle 4,two hundred,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,CLOTHING,Warehouse 2,Aisle 3,100,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,TOYS,Warehouse 2,Aisle 4,50,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,FURNITURE,Warehouse 3,Aisle 3,two hundred,9.99,Supplier D,Out of Stock,25/04/2023
...,...,...,...,...,...,...,...,...,...,...
995,1009,widget b,FURNITURE,Warehouse 2,Aisle 2,100,NaN,Supplier C,In Stock,15/01/2023
996,1823,gadget y,ELECTRONICS,Warehouse 2,Aisle 3,300,19.99,Supplier B,In Stock,20/12/2022
997,1797,gadget z,TOYS,Warehouse 3,Aisle 5,150,9.99,Supplier C,Low Stock,05/03/2023
998,1241,widget c,FURNITURE,Warehouse 2,Aisle 2,100,49.99,Supplier C,Low Stock,20/12/2022
999,1250,widget a,CLOTHING,Warehouse 1,Aisle 3,100,49.99,Supplier B,Out of Stock,20/12/2022

In [8]:
df.dtypes # checking the data types of the columns

Product ID          int64
Product Name       object
Category           object
Warehouse          object
Location           object
Quantity           object
Price             float64
Supplier           object
Status             object
Last Restocked     object
dtype: object

From the above results, it is clear that there are issues to be fixed in the columns, for example, we know qty= int/float, but we wil focus on the columns that are crucial in the analysis.

Also, upon checking the data in excel, we can see errors in the price column, which will affect any umerical analysis, this needs to be corrected.
The trailing spaces, uppercase and lowercase fixes, date also have to be fixed.

In [39]:
# Now to remove the trailing and leading spaces
df.columns = df.columns.str.strip() # remove leading and trailing spaces from column names

In [18]:
# However, I want to iterate the procedure through all the columns and and see if it will do the same thing
for column in df.select_dtypes(include=['object']).columns:  # remember object is used to select strings, and text in pd
    df[column] = df[column].str.strip()  # Remove leading and trailing spaces from all string columns
df1= df[column] # saving it in a new dataframe

In [40]:
# Create a new DataFrame df1 from df
df1 = df.copy()

# Convert Product Name to proper case i.e standadizing the product name
df1['Product Name'] = df1['Product Name'].str.title() 

# Correct the Category column i.e standaridizing the category column
df1['Category'] = df1['Category'].str.capitalize()

In [42]:
import numpy as np # for numerical operations, we must load the numpy library

#Correcting and Converting Data Types 
#(QUANTINTY COLUMN)
df1['Quantity'] =df1['Quantity'].replace('two hundred', 200) # Replace 'two hundred' with 200
df1['Quantity'] = df1['Quantity'].replace('NaN', np.nan) # Replace 'NaN' with np.nan )
df1['Quantity'] = pd.to_numeric(df1['Quantity'], errors='coerce') # Convert to numeric

In [30]:
#(PRICE COLUMN)
df1['Price'] = df1['Price'].replace('NaN', np.nan) # Replace 'NaN' with np.nan 
df1['Price'] = pd.to_numeric(df1['Price'], errors='coerce') # Convert to numeric

In [32]:
#(RESTOCK DATE COLUMN)
df1['Last Restocked'] = df1['Last Restocked'].replace('NaN', np.nan) # Replace 'NaN' with np.nan 
df1['Last Restocked'] = pd.to_datetime(df1['Last Restocked'], errors='coerce') # Convert to datetime

In [33]:
# DEALING WITH MISSING VALUES
df1.isnull().sum() # checking for missing values

Product ID          0
Product Name        0
Category            0
Warehouse           0
Location            0
Quantity          158
Price             207
Supplier            0
Status              0
Last Restocked    200
dtype: int64

From the above code, we can see there are many missing values, we need to fix this i.e the qnty, price, and last stocked columns

In [35]:
# Fill NaN values with a default value or strategy, here we use mean for numeric columns 
df1['Quantity'].fillna(df1['Quantity'].mean(), inplace=True) 
df1['Price'].fillna(df1['Price'].mean(), inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_2576\2425931534.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Quantity'].fillna(df1['Quantity'].mean(), inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\2425931534.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Price'].fillna(df1['Price'].mean(), inplace=True)

In [37]:
# Fill NaN values for categorical columns with a placeholder or most frequent value 
df1['Product Name'].fillna('Unknown Product', inplace=True) 
df1['Category'].fillna('Unknown Category', inplace=True) 
df1['Warehouse'].fillna(df1['Warehouse'].mode()[0], inplace=True) 
df1['Location'].fillna('Unknown Location', inplace=True) 
df1['Supplier'].fillna(df1['Supplier'].mode()[0], inplace=True) 
df1['Status'].fillna(df1['Status'].mode()[0], inplace=True) 
df1['Last Restocked'].fillna(pd.to_datetime('today'), inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Product Name'].fillna('Unknown Product', inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Category'].fillna('Unknown Category', inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Warehouse'].fillna(df1['Warehouse'].mode()[0], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Location'].fillna('Unknown Location', inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Supplier'].fillna(df1['Supplier'].mode()[0], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Status'].fillna(df1['Status'].mode()[0], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_2576\274985234.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Last Restocked'].fillna(pd.to_datetime('today'), inplace=True)

In [43]:
#We can now save our cleaned data to a new csv file
df1.to_csv('warehouse_cleaned_data.csv', index=False) # Save cleaned data to a new CSV file

In [44]:
df1 # Display the cleaned data

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,Gadget Y,Electronics,Warehouse 2,Aisle 1,300.0,9.99,Supplier C,In Stock,NaN
1,1435,Gadget Y,Electronics,Warehouse 2,Aisle 4,200.0,19.99,Supplier C,Out of Stock,NaN
2,1860,Widget A,Clothing,Warehouse 2,Aisle 3,100.0,19.99,Supplier B,In Stock,20/12/2022
3,1270,Gadget Z,Toys,Warehouse 2,Aisle 4,50.0,49.99,Supplier B,In Stock,20/12/2022
4,1106,Widget A,Furniture,Warehouse 3,Aisle 3,200.0,9.99,Supplier D,Out of Stock,25/04/2023
...,...,...,...,...,...,...,...,...,...,...
995,1009,Widget B,Furniture,Warehouse 2,Aisle 2,100.0,NaN,Supplier C,In Stock,15/01/2023
996,1823,Gadget Y,Electronics,Warehouse 2,Aisle 3,300.0,19.99,Supplier B,In Stock,20/12/2022
997,1797,Gadget Z,Toys,Warehouse 3,Aisle 5,150.0,9.99,Supplier C,Low Stock,05/03/2023
998,1241,Widget C,Furniture,Warehouse 2,Aisle 2,100.0,49.99,Supplier C,Low Stock,20/12/2022
999,1250,Widget A,Clothing,Warehouse 1,Aisle 3,100.0,49.99,Supplier B,Out of Stock,20/12/2022